body{
    color:white;
    text-align: center;
    background-image:url("toDoTorontoBackground.png");
}

.welcome{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: white;
}

.description{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: white;
    padding-bottom: 70px;
    padding-top: 20px;
}

input[type="button"], input[type="submit"]{
    border-radius: 8px;
}

.answer{
    background: rgba(153, 204, 255, 0.5);
    border: none;
    color: white;
    padding: 15px 32px;
    transition-duration: 0.4s;
    margin-right: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    border-radius: 8px;
}

.answer:hover{
    background-color: white;
    color: black;
}

.question{

}
.questionHeader{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.question1{
    display: inline;
}

.question{
    display: none;
}

.question3{
    display:none;
}

.question4{
    display:none;
}

.submit{
    background-color: rgba(153, 204, 255, 0.5);
    color: white;
    border: none;
    padding: 15px 32px;
    transition-duration: 0.4s;
    margin-right: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
}

.submit:hover{
    background-color: white;
    color: black;
}

.generate{
    padding: 50px;
}
footer {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 50px;
}

