<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity Suggestion</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='8ballIcon.png')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='activity.css')}}"/>
</head>
<body>
    <header>
        <div class="header">
            <h1>We think you'd like this activity!</h1>
        </div>
    </header>
    <div class="activity">
        <p>{{activityName}}</p>
        <a href={{website}} target =_blank>{{link}}</a>
        <p>{{description}}</p>
        <p>{{date}}</p>
        <br>
        <p>Prefer something else? Generate a new activity</p>
        <form action="/activity" method="get">
            <input type="submit" value="Another activity" class="submit">
        </form>
        <br>
        <form action="/" method="get">
            <input type="submit" value="Restart" class="submit">
        </form>
    </div>
<footer>
    <p>Creator: Paulo Guerrero</p>
    <a href="https://linkedin.com/in/P-Guerrero" target="_blank" class="linkedIn">LinkedIn</a>
    <a href="https://github.com/Paulo-Guerrero" target="_blank" class="github">GitHub</a>
</footer>
</body>
</html>